extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Caleb Hasch

        p.lead.text-light
          | Full Stack JavaScript Developer.

        .portfolio-bio
          p
            | I have gained experiance as a full-stack developer through Treehouse Tech Degrees which is renown for its online academics. 
            | There are severable projects I've completed that are deployed and viewable through github that shows a wide range of technical skills I have aquired through this course.
            | My official work history spans all the way back to the age of 14 with many reliable references that will vouch for the creative and hard work I put into all my jobs.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li Object-Oriented JavaScript 
          li SQL
          li Node.js
          li React.js
          li Express
          li Templates
          li API Requests
          li jQuery
          li CSS
          li HTML
          li AJAX
          li Terminal Navigation
          li Online Communication (slack,email,zoom etc.)
        h6 Contact Info

        ul
          li (423) 433-7306
          li chasch96@gmail.com

        a.button.expanded(href='https://www.linkedin.com/in/caleb-hasch-bb80151a8/', target="_blank") LinkedIn
        a.button.expanded(href='https://github.com/Haschc', target="_blank") GitHub
        //- a.button.expanded(href='') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  