extends layout.pug

block content 
  article.grid-container.portfolio-intro
    div

      h1 The Hasch Projects Exhibition

      p.lead.text-light
        | This project is to display my projects and all the technical skills I've aquired and used by showing off my accomplishments.
  article.grid-container.portfolio-index
    
    .grid-x.grid-margin-x.small-up-2.medium-up-2.large-up-3

      each project in projects
        .cell
          a(href=`/projects/${project.id}`)
            img.thumbnail(src=`${project.image_urls[0]}`)
            h5= project.project_name
        
